.game-room {
  width: 60rem;
  padding: 1rem;
  background-color: #334b49;
  border-radius: 2px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    min-height: 8rem;
    display: flex;
    gap: 0.5rem;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__history {
    width: 15rem;
  }

  &__history-list {
    max-height: 12rem;
    overflow: auto;
    padding: 0;
    list-style: none;
    text-align: left;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
