@import '../../mixins';

$header-height: 5rem;
$header-height-mobile: 3rem;

.header {
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #161b22;
  flex-shrink: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  justify-content: space-between;
}

@include mobile {
  .header {
    height: $header-height-mobile;

    h1 {
      font-size: 1rem;
    }
  }
}
