@import './components/header/styles.scss';
@import '_mixins.scss';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;

  @include mobile {
    & {
      height: 100vh;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    background-image: url(../assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: calc(100vh - $header-height);

    @include mobile {
      & {
        max-height: unset;
        height: calc(100vh - $header-height-mobile);
      }
    }
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}
