@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import './_reset.scss';

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/IBMPlexSerif-Regular.ttf') format('ttf');
}

html {
  font-family: 'IBM Plex Serif', serif;
  font-size: 1rem;
}

body {
  background-color: #0d1117;
  color: #fff;
}
